*{
  box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  margin: 10px;
}

.row:after {
    clear: both;
}


[class*="col-"]{
float: left;
min-height: 7px;
padding-left: 12px;
padding-right: 12px;
/* border-right: solid 1px;
border-left: solid 1px; */
}

.col-1{
  width: 8.33333333%;
}

.col-1 div {
    background: #ffff00;
    height: 20px;
  }

.col-2{
  width: 16.666667%;
}

.col-2 div {
    background: #AFFF00;
    height: 20px;
}



.col-3{
  width: 25%;

}

.col-3 div {
  background: #1EE2A6;
  height: 20px;
}

.col-4{
  width: 33.333333%;

}

.col-4 div {
  background: #01B6AD;
  height: 20px;
}

.col-5{
  width: 41.666667%
}

.col-6{
  width: 50%;

}

.col-6 div {
  background: #9C42D1;
  height: 20px;
}
.col-7{
  width: 58.3333333%;
}

.col-8{
  width: 66.6666667;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.3333333%;
}

.col-11{
  width: 91.6666667%;
}

.col-12{
  width: 100%;

}
.col-12 div {
  background: #D126A9;
  height: 20px;
}
